<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello World</title>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    
    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  </head>
  <body>
    <div id="root"></div>
    <script type="text/babel">
	    let SomeDiv = p =>
                <div style={{backgroundColor: 'cyan'}}>
                  DIV
                  <input />
                </div>

        const _ = React.createElement.bind(React)

        let NoJSX = p =>
                _('div', {style: {backgroundColor: 'red'}},
                        'DIV ','DIV2',
                        _('input')
                )

        const ListRenderer = ({list, type='ul'}) => {
          const Type = type === 'ul' ? 'ul' : 'ol'
          return (
            <>
              <Type>
                {list.map(item => <li>{item}</li>)}
              </Type>
              <Type>
                {list.map(item => <li>{item}</li>)}
              </Type>
            </>
          )
        }

      class App extends React.Component {
	        render() {
                return(
                        <div className="App">
                          <SomeDiv/>
                          <SomeDiv/>
                          <SomeDiv/>
                          <SomeDiv/>

                          <NoJSX/>
                          {_(NoJSX)}
                          <ListRenderer list={['SuperMan', 'Beerman', 'Proctolog-Reactolog']} type='ol'/>
                        </div>
                )
	        }
	    }

	    ReactDOM.render(
	        <App/>,
		    document.getElementById('root')
	    )

    </script>
    <!--
      Note: this page is a great way to try React but it's not suitable for production.
      It slowly compiles JSX with Babel in the browser and uses a large development build of React.

      Read this section for a production-ready setup with JSX:
      https://reactjs.org/docs/add-react-to-a-website.html#add-jsx-to-a-project

      In a larger project, you can use an integrated toolchain that includes JSX instead:
      https://reactjs.org/docs/create-a-new-react-app.html

      You can also use React without JSX, in which case you can remove Babel:
      https://reactjs.org/docs/react-without-jsx.html
    -->
  </body>
</html>
